<div class="container">
  <div class="row">
    <div class="col-lg-4 col-md-6 mb-4" *ngFor="let myItem of items">
      <div class="card h-100" (click)="onSelect(myItem)">
        <a href="#">
          <img class="card-img-top" src="../../assets/img/{{myItem.imageName}}" alt="">
        </a>
        <div class="card-body">
          <h4 class="card-title">
            <a href="#">{{myItem.name}}</a>
          </h4>
          <h5> {{myItem.price}}</h5>
          <p class="card-text"> {{myItem.description}} </p>
        </div>
        <div class="card-footer">
          <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
        </div>
      </div>
    </div>
  </div>
  <br/>
  <label *ngIf="selectedItem">name:
    <input [(ngModel)]="selectedItem.name" placeholder="name">
  </label>
</div>