<!--Move this to new component-->
<div class="row featurette">
  <div class="col-md-12">
    <h2 class="featurette-heading">Daily Deals
      <span class="text-muted"></span>
    </h2>
    <br/>
    <p class="lead">
      &nbsp;&nbsp; Since our first year in business, Go Green Go has been offering our customers the best selection of products at unbeatable
      prices. Our online store has become synonymous with quality and we ensure a continuous variety of fantastic merchandise
      along with unique limited edition and seasonal items that fit any budget. Check it out and start shopping today!</p>
    <br/>
  </div>
</div>
<br/>

<div class="container">
  <div class="row">
    <div class="col-lg-4 col-md-6 mb-4" *ngFor="let myItem of items">
      <div class="card h-100" (click)="onSelect(myItem)">
        <a href="#">
          <img class="card-img-top" src="../../assets/img/{{myItem.imageName}}" alt="">
        </a>
        <div class="card-body">
          <h4 class="card-title">
            <a href="#">{{myItem.name}}</a>
          </h4>
          <h5> {{myItem.price}}</h5>
          <p class="card-text"> {{myItem.description}} </p>
        </div>
        <div class="card-footer">
          <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
        </div>
      </div>
    </div>
  </div>
  <br/>
  <label *ngIf="selectedItem">name:
    <input [(ngModel)]="selectedItem.name" placeholder="name">
  </label>
</div>

<hr class="featurette-divider">

  <!--Move this to new component-->
  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">What Makes Us Different? 
      </h2>
      <br/>
      <p class="lead">Teafloor has a lovingly crafted tea selection that lets you choose from a catalogue of premium tea variants: Black,
        Green, Oolong, White, Herbal and Flavoured. Each tea that we sell has been carefully sourced and selected on the
        merits of taste, aroma and authenticity. We personally ensure that goodness is delivered in every cup.
      </p>
    </div>
    <div class="col-md-5">
      <img class="featurette-image img-fluid mx-auto" src="../assets/img/black-types.jpeg" alt="Generic placeholder image">
    </div>
  </div>

  <br/>