
*.dll
*.pdb
*.cache
online.ui/package-lock.json

Stwo.Core/obj/project.assets.json

Stwo.Core/bin/Debug/netcoreapp2.0/Stwo.Core.deps.json

Stwo.Core/obj/Debug/netcoreapp2.0/Stwo.Core.csproj.FileListAbsolute.txt

*.props

*.targets

Online.Model/bin/Debug/netcoreapp2.0/Online.Model.deps.json

*.CopyComplete

Online.Model/obj/Debug/netcoreapp2.0/Online.Model.csproj.FileListAbsolute.txt

Online.Model/obj/project.assets.json

*.cache

*.dll

*.dll

*.pdb

online.web/bin/Debug/netcoreapp2.0/onlinestore.runtimeconfig.dev.json

online.web/bin/Debug/netcoreapp2.0/onlinestore.runtimeconfig.dev.json

online.web/bin/Debug/netcoreapp2.0/onlinestore.deps.json

online.web/obj/project.assets.json

IFarmer.API/obj/Debug/netcoreapp2.0/IFarmer.API.csproj.FileListAbsolute.txt
