<div class="container">
    <div class="row">
        <div class="col-lg-4 col-sm-6 mr-auto ml-auto">
            <div class="card card-register">
                <h3 class="title">Welcome</h3>
                <div class="social-line text-center">
                    <a href="#" class="btn btn-neutral btn-facebook btn-just-icon">
                        <i class="fa fa-facebook-square"></i> 
                    </a>
                    <a href="#" class="btn btn-neutral btn-google btn-just-icon">
                        <i class="fa fa-google-plus"></i>
                    </a>
                    <a href="#" class="btn btn-neutral btn-twitter btn-just-icon">
                        <i class="fa fa-twitter"></i>
                    </a>
                </div>
                <form #f="ngForm" novalidate (ngSubmit)="login(f)">
                    <label>Email</label>
                    <input type="text" class="form-control" id="email" [(ngModel)]="credentials.email" name="email" placeholder="email">

                    <label>Password</label>
                    <input type="password" id="password" [(ngModel)]="credentials.password" name="password" class="form-control" placeholder="password">
                    <button class="btn btn-danger btn-block btn-round">Login</button>
                    <button class="btn btn-danger btn-block btn-round">Register</button>
                </form>
                <div class="forgot">
                    <a href="#" class="btn btn-link btn-danger">Forgot password?</a>
                </div>
            </div>
        </div>
    </div>
</div>