<div class="container">
  <div class="row featurette">
    <div class="col-md-12">
      <br/>
      <br/>
    </div>
  </div>
  <div id="prod-top" class="prod-top-img col-md-12">
    <div class="cart_header">
      <p class="ztext-info">
        We Offer You SAFE Order Processing Through PayPal Using Your Credit Card
      </p>
      <br />
    </div>
  </div>
  <div class="container-fluid">
    <div class="row-fluid content-backcolor">
      <div class="col-md-8">

        <!-- items -->
        <table class="table tab-shop">

          <!-- header -->
          <tr class="well">
            <td>
              <b>Item</b>
            </td>
            <td class="tdCenter collapsible">
              <b>Quantity</b>
            </td>
            <td class="tdRight collapsible">
              <b>Price</b>
            </td>
          </tr>
          <tr class="well">
              <td>
                <b>Item</b>
              </td>
              <td class="tdCenter">
                <b>2</b>
              </td>
              <td class="tdRight">
                <b>12</b>
              </td>
            </tr>
            <tr class="well">
                <td>
                  <b>Item</b>
                </td>
                <td class="tdCenter">
                  <b>2</b>
                </td>
                <td class="tdRight">
                  <b>12</b>
                </td>
              </tr>
        </table>
      </div>

      <!-- buttons -->
      <div class="col-md-4">
        <p class="text-info">
          <button class="btn btn-block btn-default">
            <span class="glyphicon glyphicon-chevron-left"></span>&nbsp;&nbsp;back to store</button>
          <button class="btn btn-block btn-x-danger">
            <span class="glyphicon glyphicon-trash white"></span>&nbsp;&nbsp;clear cart</button>
        </p>
        <br />
        <p class="text-info">
          <button id="orderNowButton" class="btn btn-link">
            <span class="glyphicon glyphicon-trash white"></span> Order Now
          </button>
        </p>
      </div>
    </div>
  </div>