<!--The content below is only a placeholder and can be replaced.-->
<app-menubar></app-menubar>
<!--Header-->
<div class="container">
  <div class="jumbotron">
    <img id="imgLogo" src="../assets/greenImage.png" />
    <h4> GO GREEN GO</h4>
    <p>Quality is our moto, Unbeatable Prices</p>
  </div>
</div>
<hr/>
<!--Header-->
<div class="container">

  <!--Move this to new component-->
  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Daily Deals
        <span class="text-muted"></span>
      </h2>
      <br/>
      <p class="lead">
        Since our first year in business, Go Green Go has been offering our customers the best selection of products at unbeatable
        prices. Our online store has become synonymous with quality and we ensure a continuous variety of fantastic merchandise
        along with unique limited edition and seasonal items that fit any budget. Check it out and start shopping today!</p>
      <br/>
    </div>
    <div class="col-md-5" style="padding-top: 70px;">
      <img class="featurette-image img-fluid mx-auto" src="../assets/green-types.jpeg" alt="Generic placeholder image">
    </div>
  </div>
  <br/>

  <app-items></app-items>

  <hr class="featurette-divider">

  <!--Move this to new component-->
  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">First featurette heading.
        <span class="text-muted">It'll blow your mind.</span>
      </h2>
      <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo
        cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo. vel scelerisque nisl consectetur.
        Fusce dapibus, tellus ac cursus commodo.vel scelerisque nisl consectetur. vel scelerisque nisl consectetur. Fusce
        dapibus, tellus ac cursus commodo.vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.Fusce
        dapibus, tellus ac cursus commodo.
      </p>
    </div>
    <div class="col-md-5">
      <img class="featurette-image img-fluid mx-auto" src="../assets/black-types.png" alt="Generic placeholder image">
    </div>
  </div>

</div>
<br/>
<footer class="py-5 bg-dark">
  <div class="container">
    <p class="m-0 text-center text-white">Copyright &copy; Vignesh Website 2018</p>
  </div>
</footer>