<!--The content below is only a placeholder and can be replaced.-->
<app-menubar></app-menubar>
<div class="container">
<div class="jumbotron">
  <img id="imgLogo" src="../assets/greenImage.png"/>
  <h4> GO GREEN GO</h4>
  <p>Quality is our moto, Unbeatable Prices</p>
</div>
</div>
<hr/>
<div class="container">
<app-items></app-items>

</div>
    <!-- Footer -->
    <footer class="py-5 bg-dark">
        <div class="container">
          <p class="m-0 text-center text-white">Copyright &copy; Vignesh Website 2018</p>
        </div>
        <!-- /.container -->
      </footer>
      